<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Учет пользователей</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	
</head>

<body th:style="'background-image: url(\'' + @{/images/background.jpg} + '\');
	background-size: cover;
    background-position: center;
    background-attachment: fixed;'">

	<header>
		<a href="/">
		    <img th:src="@{/images/logo.png}" width="60" height="60"/>
		</a>
		<h2 class="logo">Назначения прав</h2>
		<div class="navigation">
			<a href="/">Назад</a>
		</div>
	</header>
	
	<div class="wrapper">
	
		<main>
			<table>
		        <tr>
		            <th class="center-align">Id</th>
		            <th>Название роли</th>
		            <th>Название права</th>
		            <th>Дата создания</th>
		            <th>
						<a href="/rolespermitions/add" class="pressed-button">Добавить</a>
					</th>
		        </tr>
		        
		        <tr th:each="rolespermition : ${rolespermitions}">
		            <td th:text="${rolespermition.id}" class="center-align">
					<td th:text="${rolespermition.role.getNameRole()}">
					<td th:text="${rolespermition.permition.getPermitionName()}">
	
					<td th:text="${#dates.format(rolespermition.dateCreate, 'dd MMMM yyyy')}"></td>
	
					<td style="width: 10px;" class="center-align">
					<form method="POST" th:action="@{/rolespermitions}" th:value="${rolespermition}" class="edit-form">
						
							<a th:href="@{/rolespermitions/edit(id=${rolespermition.id})}">
								<img th:src="@{/images/edit.png}" class="imgSize">
							</a>
							
							<input name="id" type="hidden" th:value="${rolespermition.id}">
							
							<button type="submit" class="transparent-button">
								<img th:src="@{/images/delete.png}" class="imgSize">
							</button>
							
						</form>
					</td>
					
					
		        </tr>
		    </table>
		</main>
	
		<footer>
			<div class="footer-content">
	            <p>Сделано студентом: Попова А.Е.</p>
	            <p>&copy; 2024 Учет пользователей. Все права защищены.</p>
	        </div>
	    </footer>
    </div>
    
</body>

</html>